.container{
    height: 100vh;
    width: 100vw;
}

.mapContainer{
    height: 100%;
    width: 100%;
}

.infobox{
    display:flex;
    flex-direction: column;
}

.infobox h2{
    font-size: 1.5rem;
    margin:0;
}

.airportLabel{
    color: white;
    font-size: x-small;
}